.profession-tile {
    border: 2px solid #D9D8DB;
    border-radius: 24px;
    padding: 10px 10px 35px 10px;
    position: relative;
    margin: 12px 0;
}

.profession-tile .img {
    border-radius: 18px;
    height: 138px;
    margin-bottom: 10px;
    position: relative;
    background-size: cover;
}

.profession-tile .apla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #446EDA;
    border-radius: 18px;
    opacity: 42%;
}

.profession-tile .content {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 15px;
    box-sizing: border-box;
}

.profession-tile .content .profession-name {
    font-family: 'Manrope';
    font-size: 26px;
    font-weight: 700;
}

.profession-tile .content .matching {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 700;
}