<app-header [text]="'Zawody'"></app-header>
<div class="container">
    <h2>Wybrane dla Ciebie</h2>

    <div class="profession-tile" *ngFor="let x of [].constructor(3)">
        <div class="img" style="background-image: url(https://picsum.photos/400);">
            <div class="apla"></div>
            <div class="content">
                <div class="profession-name">
                    Analityk
                </div>
                <div class="matching">
                    Dopasowanie: 87%
                </div>
            </div>
        </div>
        <p>Analityk danych specjalizuje się w pozyskiwaniu, analizowaniu i interpretowaniu danych, aby wspierać decyzje biznesowe. Korzysta z narzędzi statystycznych...</p>
        <a href="#" class="cta50">Zobacz szczegóły</a>
    </div>

    <a href="#" class="cta cta-empty">Wypełnij quiz od nowa</a>
</div>