<app-header [step]="4"></app-header>
<div class="container">
    <app-step-title 
    [header]="'W których dziedzinach czujesz się najlepiej?'"
    [description]="'Wybierz jedną opcje'"
    ></app-step-title>

    <div class="steps">
        <label>
            <input type="radio" name="radio" value="Matematyka lub informatyka">
            <div>Matematyka lub informatyka</div>
        </label>

        <label>
            <input type="radio" name="radio" value="Język polski lub historia sztuki">
            <div>Język polski lub historia sztuki</div>
        </label>

        <label>
            <input type="radio" name="radio" value="Język angielski lub inny">
            <div>Język angielski lub inny</div>
        </label>

        <label>
            <input type="radio" name="radio" value="Historia, filozofia lub Wiedza o Społeczeństwie">
            <div>Historia, filozofia lub Wiedza o Społeczeństwie</div>
        </label>

        <label>
            <input type="radio" name="radio" value="Chemia lub biologia">
            <div>Chemia lub biologia</div>
        </label>

        <a class="cta" (click)="getDataAndGo()">Następny krok</a>
    </div>
</div>