<app-header [text]="'Ścieka kariery'"></app-header>
<div class="container">
    <h2>Ścieka kariery: Analityk danych</h2>
    <ul class="path">
        <li *ngFor="let x of [].constructor(11); index as i">
            <div class="number">{{i}}</div>
            <div class="line"></div>
            <div class="description">
                Uczestnicz w różnorodnych zadaniach i projektach, aby rozwijać umiejętności i zdobywać doświadczenie.
                <br><br>
            </div>
        </li>
    </ul>
</div>