<app-header [step]="1"></app-header>
<div class="container">
    <app-step-title 
    [header]="'Które opisy osobowości najlepiej do Ciebie pasują?'"
    [description]="'Wybierz wiele'"
    ></app-step-title>

    <div class="steps">
        <label>
            <input type="checkbox" name="checkbox" value="Lubisz nowe wyzwania i możliwości, cenisz sobie niezależność">
            <div>Lubisz nowe wyzwania i możliwości, cenisz sobie niezależność</div>
        </label>

        <label>
            <input type="checkbox" name="checkbox" value="Dążysz do aprobaty otoczenia, prestiżu i oczekujesz zaufania ze strony innych">
            <div>Dążysz do aprobaty otoczenia, prestiżu i oczekujesz zaufania ze strony innych</div>
        </label>

        <label>
            <input type="checkbox" name="checkbox" value="Nie odpowiadają Ci częste zmiany, wolisz poczucie bezpieczeństwa i stabilizację">
            <div>Nie odpowiadają Ci częste zmiany, wolisz poczucie bezpieczeństwa i stabilizację</div>
        </label>

        <label>
            <input type="checkbox" name="checkbox" value="Dbasz o szczegóły, stawiasz na jakość i ciągłe rozwijanie swoich kompetencji">
            <div>Dbasz o szczegóły, stawiasz na jakość i ciągłe rozwijanie swoich kompetencji</div>
        </label>

        <a [routerLink]="['/']" class="cta">Następny krok</a>
    </div>
</div>