<app-header [text]="'Analityk danych'"></app-header>
<div class="container">
    
    <div class="img" style="background-image: url(https://picsum.photos/400);"></div>
    <h2>Analityk danych</h2>
    <p>Analityk danych specjalizuje się w pozyskiwaniu, analizowaniu i interpretowaniu danych, aby wspierać decyzje biznesowe. Korzysta z narzędzi statystycznych i oprogramowania do przetwarzania danych. Pracuje samodzielnie lub w zespole, dostarczając wartościowe informacje i rekomendacje dla organizacji.</p>
    <a href="#" class="cta">Zobacz ściekę kariery</a>
    <a href="#" class="cta cta-empty">Zobacz kierunki studiów</a>
</div>