<app-header [text]="'EduPlan.AI'" [back]=false [close]=false></app-header>
<div class="container">
    <div class="home">
        <img src="https://s6.gifyu.com/images/S62S6.gif" alt="">
        <h2>Odkryj swój plan na przyszłość</h2>
        <div class="first">
            Odpowiedz na kilka pytań
            <span>Chcemy lepiej poznać Twoje cele i aspiracje.</span>
        </div>
        <div class="second">
            Znajdź ścieżkę kariery dla siebie
            <span>System przygotuje spersonalizowane plany dostosowane do Twoich zainteresowań.</span>
        </div>
    </div>
    <a [routerLink]="['/step1']" class="cta">Rozpocznij quiz</a>
</div>